* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.landing {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.landing-content {
  padding: 148px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: hidden;
}


.landing-image {
  object-fit: cover;
}
.landing-h2 {
  font-size: 20px;
  color: #302729;
  margin-bottom: 30px;
  overflow-y: hidden;
}

.landing-name {
  font-weight: 800;
  color: #f37683;
  font-size: 50px;
  line-height: 100%;
  padding: 20px 0;
  overflow-y: hidden;
}
.landing-info {
  margin-bottom: 30px;
  margin-top: 25px;
  overflow-y: hidden;
}

.links {
  margin-top: 10vh;
  margin-bottom: -5px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 100%;
  overflow-y: hidden;
  
}

.links a {
  text-decoration: none;
  color: #302729;
}

.links a:hover {
  transition: ease-in 0.4s;
  color: #f37683;
  font-size: 20px;
}

/*about*/
/* Style the header */
header {
  background-color: #f37683;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the about me */
.about {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
h1 {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 20px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/*about end*/

/*start of the navbar*/

.navbar {
  position: fixed;
  z-index: 100;
}

.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 100;
  top: -100%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav.active {
  top: 0;
  left: 0;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*end of navbar*/


.contact-heading {
  text-align: center;
  font-size: 50px;
  color: deeppink;
}
.contact-form-group {
  margin-bottom: 10px;
  line-height: 3;
}

.contact-button {
  border-radius: 5px;
  background: linear-gradient(#f37683, #f37683, #f37683);
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  padding: 2% 5%;
}

.label-form {
  display: none;
}

.input-form,
.button {
  background: #f37683;
  box-sizing: border-box;
  border: 1px solid #ffff;
  width: 50%;
  padding: 10px;
  outline: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: #f37683;
}
.grid-item {
  background-color: #ffb9c6;
  text-align: center;
  border: 1px solid;
  margin: 10px;
}


.main-container {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

.main-container::after {
  content: "";
  position: relative;
  width: 10px;
  background-color: #f37683;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}

.text-wrapper {
  padding: 10px 4px;
  position: relative;
  width: 51%;
  box-sizing: border-box;
  margin: 50px 0;
}

.text-wrapper::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 30px;
  right: -10;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -10px;
}

.content {
  padding: 15px 15px 15px 17px;
  background-color: #f37683;
  border-radius: 3px;
}

.content h2 {
  text-transform: uppercase;
  font-size: 37px;
  color: #8e8587;
  letter-spacing: 2px;
}

.content p {
  color: black;
  font-weight: 300;
  font-size: 18px;
  margin-top: 3px;
}

.light-grey {
  margin: 5px;
  padding: 15px;
}

.grey {
  height: 24px;
  width: 25%;
  background-color: #f37683;
  margin-right: 50px;
}

.contact-content {
  text-align: left;
  font-size: 20px;
  line-height: 3;
  float: right;
}

.exper-title {
  text-align: center;
  color: black;
  font-size: 50px;
}

#experience {
  background-color: #fff;
}

.skills-container {
  background-color: pink;
  height: 100vh;
}

.pro-bar {
  text-align: center;
  font-size: 50px;
  color: black;
}


.contianer {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.testimonial-heading {
  text-align: center;
  color: black;
  font-size: 50px;
}

.testimonial.owl-carousel {
  overflow: hidden;
}

.content {
  /*background: rgba(255, 255, 255, 0.4);*/
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 100;
}

.content-container {
  padding: 5%;
  height: 100%;
}

.content-container1 {
  padding: 5%;
  height: 100%;
}
.content-container2 {
  padding: 5%;
  height: 100%;
}

.content-container3 {
  padding: 5%;
  height: 100%;
}

.content-container4 {
  padding: 5%;
  height: 100%;
}

.content-container5 {
  padding: 5%;
  height: 100%;
}
/* end of testimonial styling */

/* Brent's code */
.owl-stage {
  display: flex;
  flex-wrap: nowrap;
}

/* projects css */
.gallery-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
body{
  background:#f37683 ;
}

.zoomout {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.zoomout img {
  flex-direction: column;
  height: 300px;
  width: 300px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.zoomout img:hover {
  width: 200px;
  height: 200px;
}



h1{
  color: #eeeeee;
}

.project-heading{
  display: flex;
  justify-content: center;
  font-size: 20;
}


/* button css */

.button {
  background-color: #f37683; /* #f37683*/
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: hotpink; 
  color: black; 
  border: 2px solid white;
}

.button:hover {
  background-color: white;
  color: white;
}

